html,
body {
  margin: 0;
  padding: 0;
  font-family: helvetica, arial, sans-serif;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  z-index: -1;
}

img {
  width: 400px;
}

#container {
  position: absolute;
  height: 100vh;
  margin: 20px;
}

#nav {
  /*   display: block; */
  width: 100%;
  top: 0px;
  position: absolute;
  /*   border: 4px solid blue; */
}

#nav li {
  display: inline-block;
}

#nav a {
  margin-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: black;
  text-decoration: none;
  border-radius: 0px 0px 25px 25px;
  /*   border: 4px solid red; */
}

h1 {
  font-size: 60px;
  padding-top: 225px;
  padding-bottom: 225px;
  text-align: center;
/*   background-color:red; */
}


#about p {
  font-size: 30px;
  /*   background-color: coral; */
}

footer {
  margin-top: 30px;
  color: #bbb;
}
